body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .bulb {
    text-align: center;
  }
  
  
  .card {
    margin-top: 80px; /* Adjust as needed */
    padding: 50px;
  }

  